<header class="s-header">

    <nav class="header-nav">

        <a href="#0" class="header-nav__close" title="close">
            <span>Close</span>
        </a>

        <div class="header-nav__content">
            <h3>Navigation</h3>

            <ul class="header-nav__list">
                <li class="current">
                    <a class="smoothscroll" href="#home" title="home">Accueil</a>
                </li>
                <li>
                    <a class="smoothscroll" href="#about" title="about">Actualité</a>
                </li>
                <li>
                    <a class="smoothscroll" href="#services" title="services">Domaine</a>
                </li>
                <li>
                    <a class="smoothscroll" href="#works" title="works">Produits</a>
                </li>
                <li>
                    <a class="smoothscroll" href="#clients" title="Témoignages">Témoignages</a>
                </li>
                <li>
                    <a class="smoothscroll" href="#distributeurs" title="Distributeurs">Distributeurs</a>
                </li>
                <li>
                    <a class="smoothscroll" href="#contact" title="contact">Contact</a>
                </li>
            </ul>
            <blockquote>
                Toujours préférer l'audace au culot le premier est empreint de noblesse d'esprit et de courage dans les actes; tandis que
                le second ne porte en lui qu'arrogance et mépris.
            </blockquote>

        </div>
        <!-- end header-nav__content -->

    </nav>
    <!-- end header-nav -->

    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-text">Menu</span>
        <span class="header-menu-icon"></span>
    </a>

</header>