<section id="contact" class="s-contact">

    <div class="overlay"></div>
    <div class="contact__line"></div>

    <div class="row section-header" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Contact</h3>
            <h1 class="display-2 display-2--light">Une question sur produit? Vous cherchez un distributeur? Vous êtes un distributeur? </h1>
        </div>
    </div>

    <div class="row contact-content" data-aos="fade-up">

        <div class="contact-secondary">
            <div class="contact-info">

                <h3 class="h6 hide-on-fullwidth">informations</h3>

                <div class="cinfo">
                    <h5>Où nous trouver</h5>
                    <p>
                        Eric Bordelet
                        <br> Chateau de Hauteville
                        <br> 53250 Charchigné - France
                    </p>
                </div>

                <div class="cinfo">
                    <h5>Où nous mailer</h5>
                    <p>
                        eric[@]ericbordelet.com
                    </p>
                </div>

                <div class="cinfo">
                    <h5>Où nous joindre</h5>
                    <p>
                        Tel: +33(0)243039572
                        <br> Fax: +33(0)243000936
                    </p>
                </div>


            </div>
        </div>

    </div>

</section>