<section id="distributeurs" class="s-services">

    <div class="row section-header" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Distributeurs</h3>
            <h1 class="display-2">Nos partenaires près de chez vous</h1>
        </div>
    </div>
    <!-- end section-header -->

    <div class="distrib-map" data-aos="fade-up">
        <div class="col-full">
            <div id="map"></div>
        </div>
    </div>

</section>    
<script src="js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV9G89U3Z04kBWjPUTSxwjLchldiPlqUo&callback=initMap">
</script>