<section id='services' class="s-services">

    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Domaine</h3>
            <h1 class="display-2">Présentation</h1>
        </div>
    </div>
    <!-- end section-header -->

    <div class="row services-list block-1-2 block-tab-full">

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <i class="fa fa-history"></i>
            </div>
            <div class="service-text">
                <h3 class="h2">Historique</h3>
                <p>
                    Sommelier d'origine, Éric Bordelet reprend l'affaire familiale en 1992 après un long apprentissage auprès de grands noms de la restauration et du monde du vin.
                    <br/>
                    23 ha. de verger en propriété, (certifié biologie) pommes à cidre, poires à Poiré et cormes.
                </p>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <i class="fa fa-handshake-o"></i>
            </div>
            <div class="service-text">
                <h3 class="h2">Engagement</h3>
                <p>Actuellement, la culture biologique (certifié depuis 1996) complétée par la bio-dynamique (sol) semble la mieux adaptée dans le sens qualitatif
                    du fruit. Verger en propriété, certifié Qualité France.
                </p>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <i class="icon-earth"></i>
            </div>
            <div class="service-text">
                <h3 class="h2">Géographie</h3>
                <p>
                    En Normandie méridionale, sur le massif Armoricain dans le prolongement du Domfrontais aux confins de la Mayenne et de l'Orne.
                    <br/>
                    L'exploitation est située sur des schistes du Briovérien supérieur,"Grand cru" roches sédimentaires datant du Précambrien.
                </p>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <i class="fa fa-diamond"></i>
            </div>
            <div class="service-text">
                <h3 class="h2">Géologie</h3>
                <p>
                    "Argelette" est une roche rouge (ferrugineuse) schisteuse assez tendre, formée à l'ère primaire et vieille de 3 milliards d'années.
                    <br/>
                    "Granit" apparu à l'ère tertiaire, dur de part sa jeunesse, la fusion des deux éléments compose la complexité du sol et du sous sol limono-argileux.
                </p>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <i class="fa fa-users"></i>
            </div>
            <div class="service-text">
                <h3 class="h2">Équipe</h3>
                <div>Gérants: Mr Mme Eric Bordelet</div>
                <div>Maîtres de Chai: Mr Jean-Michel Legentil, Mr Cédric Garnier et Mr Julien Bordelet</div>
                <div>Administratif: Mme Céline Bordelet</div> 
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <i class="fa fa-leaf"></i>
            </div>
            <div class="service-text">
                <h3 class="h2">Pomologie, Poirologie et Cormologie sensitive</h3>
                <div>Trentaine de variétés de Pommes (amères, douces et acidulées): Noms rustiques changeant selon la vallée ou le village.</div>
                <div>Vingtaine de variétés de Poires à Poiré.</div>
                <div>Huit variétés de Cormes.</div>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <i class="fa fa-certificate"></i>
            </div>
            <div class="service-text">
                <h3 class="h2">Sidrologie</h3>
                <div>
                    La récolte manuelle, dans des paniers déposés dans des "paloxs"; Sélective selon la maturité du fruit de septembre à décembre du fait d'un nombre important de variétés.
                    <br/>
                    Transformation dans le respect de chaque fruit (pour l'équilibre final), assemblés, broyés grossièrement, pressurés délicatement, débourrage et soutirage du jus.
                    <br/>
                    Fermentation ancestrale en cuve et mise en bouteille sur plusieurs semaines ou mois selon les cuvées avec plus ou moins de sucres naturels résiduels (fructose) donc sans  (rajout de sucre saccharose).
                    <br/>
                    Ajouts de sulfites sous différentes formes (minérale et solution). SO<sup>2</sup> total entre 50mg/l et 80mg/l selon le millésime.
                </div>
            </div>
        </div>


       
       
        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
                <i class="fa fa-users"></i>
            </div>
            <div class="service-text">
                <h3 class="h2">Les gens</h3>
                    <ul class="disc">
                        <li><strong>1989 </strong>Dider Dagueneau (déterminant dans ce projet)</li>
                        <li><strong>1990 </strong>Création de l'Union des Gens du Métier et sous l'influence de Didier Daguaneau, Pascal Delbeck et Marc Kreydenweiss (union de vignerons, boulanger...)</li>
                        <li><strong>1991 </strong>Céline Gasnier (Mme Bordelet, comptable, secrétaire, collaboratrice)</li>
                        <li><strong>1992 </strong>Abbaye Saint Benoit et Robert Demoy (au Québec)</li>
                        <li><strong>1992 </strong>André Mahérault ("Analyste visionnaire")</li>
                        <li><strong>1992 </strong>Patrick Soutif ("Architecte économique")</li>
                        <li><strong>1993 </strong>Elisabeth De Meurville (journaliste gastronomique)</li>
                        <li><strong>1994 </strong>Julien Bordelet</li>
                        <li><strong>1997 </strong>Jean Pierre Ferrand (Distillateur de Métier)</li>
                        <li><strong>1998 </strong>Romane Bordelet</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- end services-list -->

</section>