<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg" data-natural-width="3000" data-natural-height="2000 "data-position-y="center">
<!-- overlay -->
    <div class=""></div>
    <div class="shadow-overlay"></div>

    <div class="home-content">

        <div class="row home-content__main">

            <h1>Domaine Eric Bordelet</h1>
            <h3>Sydriculteur en Normandie</h3>

            <h1>Pomologie, Poirologie et Cormologie dans le <a href="https://fr.wikipedia.org/wiki/Maine_(province)" target="_blank">Maine</a> au sous-sol Armoricain.
            </h1>

            <div class="home-content__buttons">
                <a href="#works" class="smoothscroll btn btn--stroke">
                    Produits
                </a>
                <a href="#contact" class="smoothscroll btn btn--stroke">
                    Contact
                </a>
            </div>

        </div>

        <div class="home-content__scroll">
            <a href="#about" class="scroll-link smoothscroll">
                <span>En savoir plus</span>
            </a>
        </div>

        <div class="home-content__line"></div>

    </div>

</section>