<section id='about' class="s-about">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-1 display-1--light">Actualité</h1>
            </div>
        </div>

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
                <blockquote>
                    L’expression du fruit, du terroir et du millésime.
                </blockquote>
                <span class="h6 red">Nouveautés 2019</span>
                <div>
                    Perlant jus de pommes à Sydre bouteille - 33cl
                </div>

                <span class="h6 red">Nouveautés 2018</span>
                <div>Cormé - 50cl</div>
                <div>Poiré bouteille - 33cl</div>

                <span class="h6 red">Nouveautés 2017</span>
                <div>Sidre nouvelle vague bouteille - 33cl</div>
                <div>Perlant jus de pomme à Sydre bouteille - 75cl</div>

                <span class="h6 red">Nouveautés 2016</span>
                <div>
                    Sidre nouvelle vague en 20L jetable à brancher derrière le bar. <a href="www.keykeg.com" target="_blank">Keykeg</a> vous donne toutes les informations techniques d'utilisation et pièces nécessaires pour adapter ce nouveau process
                </div>
                
            </div>
        </div>

        <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">
            <div class="col-block stats__col ">
                <div class="stats__count">1992</div>
                <h5>installation à Charchigné</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">6</div>
                <h5>cuvées de soif</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">3</div>
                <h5>cuvées gastronomiques</h5>
            </div>
            <div class="col-block stats__col ">
                <div class="stats__count">23</div>
                <h5>ha. (propriété)</h5>
            </div>
        </div>

        <div class="about__line"></div>

    </section>