<section id="clients" class="s-clients">

    <div class="row section-header" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Témoignages</h3>
            <h1 class="display-2">On parle de nous</h1>
        </div>
    </div>
    <!-- end section-header -->

    <div class="row clients-testimonials" data-aos="fade-up">
        <div class="col-full">
            <div class="testimonials">
                <div class="testimonials__slide">

                    <blockquote style="font-size:2.6rem;">Le sommelier qui a donné ses lettres de noblesse au cidre.
                        <br/>
                        
                    </blockquote>

                    <img src="images/avatars/france2.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name">JT France 2</span>
                        <span class="testimonials__pos"><a href="https://www.francetvinfo.fr/economie/emploi/metiers/agriculture/mayenne-le-sommelier-qui-a-donne-ses-lettres-de-noblesse-au-cidre_2979317.html" target="_blank">Voir le reportage</a></span>
                    </div>
                    <p></p>

                </div>


                <div class="testimonials__slide">

                    <blockquote style="font-size:2.6rem;">Pureté, justesse des équilibres, longueur en bouche, complexité aromatique… On pourrait presque dire
                        des cidres et des poirés d’Eric Bordelet qu’ils sont vineux.</blockquote>

                    <img src="images/avatars/antoine-petrus.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name">Antoine Petrus</span>
                        <span class="testimonials__pos">Sommelier Meilleur ouvrier de France </span>
                    </div>
                    <p></p>

                </div>

                <div class="testimonials__slide">

                    <blockquote style="font-size:2.6rem;">Le poiré avec une tarte chocolat. L’Argelette avec une tatin. Et l’un comme l’autre avec le feuilletage
                        caramélisé et les amandes d’une galette des rois.</blockquote>

                    <img src="images/avatars/sebastien-gaudard.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name">Sébastien Gaudard</span>
                        <span class="testimonials__pos">Patissier</span>
                    </div>

                </div>
                <div class="testimonials__slide">

                    <blockquote style="font-size:2.6rem;">Ce pétillant [le Cormé] a une bulle très fine. C'est un vrai bijou et, d'ailleurs, j'en ai au Taillevent</blockquote>

                    <img src="images/avatars/antoine-petrus.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name">Antoine Petrus</span>
                        <span class="testimonials__pos">Sommelier Meilleur ouvrier de France </span>
                    </div>
                    <p></p>

                </div>
                <div class="testimonials__slide">

                    <blockquote style="font-size:2.6rem;">L’autre jour, il [le Sydre Argelette] a fait merveille sur des sardines grillées</blockquote>

                    <img src="images/avatars/alexandre-bourdas.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name">Alexandre Bourdas</span>
                        <span class="testimonials__pos">Chef du SaQuaNa 2 étoiles à Honfleur</span>
                    </div>
                    <p></p>

                </div>
            </div>
            <!-- end testimonials -->

        </div>
        <!-- end col-full -->
    </div>
    <!-- end client-testimonials -->

</section>